/* Fuentes que usaremos
    font-family: 'Lilita One', cursive;
    font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');



* {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-family: 'Lilita One', cursive;  
    padding-bottom: 4rem;
    text-align: center; /*Ojo porque en modo movil parece que no funciona cuando hay tablas*/    
}

h2 {
    font-family: 'Lilita One', cursive;  
    padding-bottom: 1rem;
    text-align: center; /*Ojo porque en modo movil parece que no funciona cuando hay tablas*/    
}

 
.cursorHand {
    cursor: pointer;
}


.closeSession, .goMenu{
    padding-top: 1rem;
    color: #DC3545;
    font-weight:500;
}
/*De momento esto no funcina...comprobar qué pasa*/
.closeSession :hover{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.goMenu{
    color: #006BDE; 
} 


.divOptions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.itemOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    width: 200px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;    
}


.itemOption:hover{
   text-decoration: none;
   transform: translateY(-3px);
   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}


.itemOptionText {
    font-family: 'Lilita One', cursive; 
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding:1.5rem;
}


.filterLayoutItems {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 2rem;   
}


/*Clase usada para oscurecer la pantalla al dar un mensaje modal*/
.customModalMessage{
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.6);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.modalIcon{ 
    font-size: 1.5rem;
    margin-right: 1.1rem; 
}

/*Clase usada para los mensajes de Error*/
.modalIconError{
    color:#DC3545;
}


/*Clase usada para los mensajes de OK*/
.modalIconCorrect{
    color:#3D9900;
}



/*Clase usada para los mensajes de warning*/
.modalIconWarning{
    color:#F0AD4E;
}


.modal-footer{
    display: flex;
    justify-content: center;
}  


/*Clase usada para mostrar el icono del ojo dentro del campo contraseña*/
.passwordIcon {
    float: right;
    position: relative;
    margin: -25px 10px 0 0;
    cursor: pointer;
}


.row {
    margin-right: 0;
    margin-left: 0;
}
 
.textPrimaryDisabled {
    color: rgba(0,123,255,0.5);
}

.textDangerDisabled {
    color: rgba(220,53,69,0.5);
}

.textUserDisabled {
    color: rgba(124,124,124,0.7);
}